

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}








input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 9px;
  background: hsl(120, 11%, 72%);
  border: none;
  border-radius: 18px;
}


input[type=range]::-webkit-slider-thumb {

 
  height: 216px;
  width: 226px;
  border-radius: 50%;
  background: goldenrod;
  background-color: red;
  color: red;
  margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}